/* CSS Document */
body {
    font:14px arial;
    color: #222;
    text-align:center;
}

#title {
    width: 100%;
    font-size: 6em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #EBF4FB;
    padding: 50px 0px;
}

form, p, span {
    margin:0;
    padding:0; }
  
input { font:12px arial; }
  
a {
    color:#0000FF;
    text-decoration:none; }
  
    a:hover { text-decoration:underline; }
  
#wrapper, #loginform {
    margin:0 auto;
    padding-bottom:25px;
    background:#EBF4FB;
    min-width:504px;
    max-width:1008px;
    border:1px solid #ACD8F0; }
  
#loginform { padding-top:18px; }
  
    #loginform p { margin: 5px; }
  
#chatbox {
    text-align:left;
    font-size: large;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    min-height:270px;
    min-width:430px;
    max-height:540px;
    max-width:860px;
    border:1px solid #ACD8F0;
    overflow:auto; }

#chatbox.row {
    margin-top: 5px;
}

.chat-img {
    max-width: 500px;
    max-height: 500px;
}

#usermsg {
    width:395px;
    border:1px solid #ACD8F0; }
  
#submit { width: 60px; }

#feedback {
    text-align: center;
    margin: auto;
    padding: 10px 0px;
    margin-top: 50px;
    max-width:860px;
    background-color: #EBF4FB;
    border:1px solid #ACD8F0;
}

#feedback p {
    margin: 10px 0px;
}

#feedback input {
    margin: 10px 0px;
}


#comments {
    padding-top: 10px;
    vertical-align: middle;
}

#show-feedback {
    margin-top: 50px;
}

.error { color: #ff0000; }
  
#menu { padding:12.5px 25px 12.5px 25px; }
  
.welcome { float:left; }
  
.logout { float:right; }
  
.msgln { margin:0 0 2px 0; }