{% extends "base.html" %}

{% block title %}Homepage - {{ super() }}{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="menu">
            <p class="welcome">Welcome to the chat!</p>
            <div style="clear:both"></div>
        </div>    
        <div id="chatbox">
	    {% for entry in chat %}
        <div class="row">
            <div class="column">
                <b>{{ entry[0] }}: </b> {{ entry[1] }}
            </div>
        </div>
    	{% endfor %}
	    </div>
        
        <form name="message" action="{{ url_for('submit') }}" method="POST">
            <input name="usermsg" type="text" id="usermsg" size="63" />
            <input name="submitmsg" type="submit"  id="submitmsg" value="Send" />
        </form>
    </div>
    {% block javascript %}
    <!--<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}" ></script>-->
    <script>
	document.getElementById("usermsg").focus();
	//var htmlObj = $("{{msg}}");
	//document.getElementById("chatbox").append(htmlObj);
        //$("#chatbox").append("{{msg}}")
	//document.getElementById("chatbox").appendChild(document.createTextNode("{{msg}}"));
    </script>
    {% endblock %}
{% endblock %}
